<?xml version="1.0"?>
<!--
  Weitere Informationen zum Konfigurieren der ASP.NET-Anwendung finden Sie unter
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!--<add name="monkey" providerName="System.Data.SqlClient" connectionString="server=DELL-PC;database=organize_monkey;Trusted_Connection=True;"/>
    <add name="monkey123" providerName="System.Data.SqlClient" connectionString="server=db617304942.db.1and1.com;database=db617304942;uid=dbo617304942;pwd=1959ortsac"/>-->
    <!--<add name="monkeyLocal" providerName="System.Data.SqlClient" connectionString="server=DESKTOP-KU3S3Q9;database=db702146810;Trusted_Connection=True;"/>-->
  </connectionStrings>
  <!--
    Eine Beschreibung der Änderungen von 'web.config' finden Sie unter 'http://go.microsoft.com/fwlink/?LinkId=235367'.

    Die folgenden Attribute können für die <httpRuntime>-Kennung festgelegt werden.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>   
    <httpRuntime targetFramework="4.5.2"/>
    <globalization uiCulture="en-US" />
    <customErrors mode="Off"/>
    <!--<customErrors mode="On" defaultRedirect="oops.html">
      <error statusCode="404" redirect="oops.html"/>
    </customErrors>-->
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="default.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>